<div class="registro-container">

  <div class="registro-card">

    <h1 class="titulo">&lt; REGISTRO &gt;</h1>

    <form (ngSubmit)="onRegistro()">

      @if (error()) {
        <p class="error-msg">{{ error() }}</p>
      }

      <input
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre"
        required
        class="retro-input"
      />

      <input
        type="text"
        [(ngModel)]="apellido"
        name="apellido"
        placeholder="Apellido"
        required
        class="retro-input"
      />

      <input
        type="number"
        [(ngModel)]="edad"
        name="edad"
        placeholder="Edad"
        required
        class="retro-input"
      />

      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required
        class="retro-input"
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required
        class="retro-input"
      />

      <button type="submit" class="retro-btn" [disabled]="cargando()">
        @if (cargando()) { CARGANDO... } @else { REGISTRARSE }
      </button>

    </form>

    <p class="login-link">
      ¿Ya tenés cuenta?
      <a routerLink="/login">Iniciá sesión</a>
    </p>

  </div>

</div>